{% extends "dingtalk/_layouts/settings" %}

{% import "_includes/forms" as forms %}

{% block content %}
    <h2>{{ "External Contacts"|t('dingtalk') }}</h2>

    <form method="post" accept-charset="UTF-8">
        <input type="hidden" name="action" value="dingtalk/settings/save-external-contacts-settings">
        {{ csrfInput() }}

        <button class="btn submit">{{ "Save"|t('app') }}</button>

    </form>

{% endblock %}