{% extends "_layouts/cp" %}

{% set dingtalk = craft.app.plugins.getPlugin('dingtalk') %}

{% block sidebar %}
    <nav>
        <ul>
            {% for subDepartment in children %}
                <li><a href="{{ url('dingtalk/departments/' ~ subDepartment.id) }}">{{ subDepartment.name }}</a></li>
            {% endfor %}
            {% for user in users %}
                <li><a href="{{  url('dingtalk/users/' ~ user.userid) }}">{{ user.name }}</a></li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}

{% block content %}
{% endblock %}
