{% extends "_layouts/elementindex" %}

{% set title = "Users"|t('app') %}
{% set elementType = 'panlatent\\craft\\dingtalk\\elements\\User' %}
{% set selectedSubnavItem = 'users' %}

{% block actionButton %}
    <button class="btn submit add icon">{{ "New user"|t('dingtalk') }}</button>
{% endblock %}