{% extends "_layouts/elementindex" %}

{% set title = "Employees"|t('app') %}
{% set elementType = 'panlatent\\craft\\dingtalk\\elements\\Employee' %}
{% set selectedSubnavItem = 'employees' %}

{% block actionButton %}
    <a class="btn submit add icon">{{ "New employee"|t('dingtalk') }}</a>
{% endblock %}