{% set corporation = corporation is defined ? corporatio : craft.dingtalk.corporations.getCorporationById(corporationId) %}
{% set departments = department is defined ? departments : corporation.departments %}

{% set departmentOptions = [] %}
{% for department in departments %}
    {% set departmentOptions = departmentOptions|merge([
        {
            label: department.name,
            value: department.id,
        }
    ]) %}
{% endfor %}

{% if values is not defined %}
    {% set values = [] %}
    {% if selectedDepartments is defined %}
        {% for selectedDepartment in selectedDepartments %}
            {% set values = values|merge([selectedDepartment.id]) %}
        {% endfor %}
    {% endif %}
{% endif %}

{%- set label = label is defined ? label : "Departments"|t('dingtalk') %}
{%- set name = name is defined ? name : "departments" %}

{% macro departmentList(departments, values, parent) %}

    {% from "_includes/forms" import checkbox %}
    {% from _self import departmentList %}

    <ul>
        {% for department in departments %}
            {% if department.parentId == (parent.id ?? null) %}
                {% set checked = false %}
                {% for value in values if value.id == department.id%}
                    {% set checked = true %}
                {% endfor %}
                <li>
                    {{ checkbox({
                        label: department.name,
                        id: "departments" ~ department.id,
                        name: "departments[]",
                        value: department.id,
                        checked: checked is defined ? checked : false,
                        errors: errors ?? null,
                    }) }}

                    {{
                        departmentList(departments, values, department)
                    }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}

{% from _self import departmentList %}

<div class="departments">
    <h3>{{ label }}</h3>
    {{ departmentList(departments, values) }}
</div>

{% css %}

.departments {

}

.departments li ul {
    margin-left: 20px;
}
{% endcss %}