{% extends "dingtalk/_layouts/settings" %}

{% set callback = craft.dingtalk.callbacks.getCallBack() %}

{% import "_includes/forms" as forms %}

{% block contextMenu %}
    {% include "dingtalk/_includes/corporationmenu" with {
        corporations: craft.dingtalk.corporations.getAllCorporations()
    } %}
{% endblock %}

{% block content %}
    {% if callback is null %}
        <h4>{{ '本企业还没有注册业务事件回调！' }}</h4>
    {% endif %}

    <form method="post" accept-charset="UTF-8">
        <input type="hidden" name="action" value="dingtalk/settings/save-settings">
        {{ csrfInput() }}


        <button class="btn submit">{{ 'Save'|t('app') }}</button>
    </form>
{% endblock %}