{% extends "_layouts/elementindex" %}

{% set elementType = 'panlatent\\craft\\dingtalk\\elements\\Approval' %}
{% set title = "Approvals"|t('dingtalk') %}
{% set selectedSubnavItem = 'approvals' %}

{% block contextMenu %}
    {% set urlFormat = url("dingtalk/approvals/{handle}") %}
    {% set selectedCorporation = corporationHandle is defined ? craft.dingtalk.corporations.getCorporationByHandle(corporationHandle) %}
    {% include "dingtalk/_includes/corporationmenu" with {
        selectedCorporation: selectedCorporation,
        urlFormat: urlFormat,
    } %}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    <div class="buttons">
        <a class="btn add icon" tabindex="0" href="{{ url('dingtalk/processes/new') }}">{{ 'New process'|t('dingtalk') }}</a>
    </div>
{% endblock %}