{% extends "dingtalk/_layouts/settings" %}

{% set title = 'Corporations'|t('dingtalk') %}
{% set selectedSubnavItem = "corporations" %}

{% block content %}
    <h2>{{ 'Corporations'|t('dingtalk') }}</h2>

{% endblock %}