{% extends "_layouts/elementindex" %}

{% set elementType = "panlatent\\craft\\dingtalk\\elements\\Contact" %}
{% set title = "Contacts"|t('dingtalk') %}
{% set selectedSubnavItem = "contacts" %}

{% block actionButton %}
    <div class="btngroup">
        <div class="btn submit menubtn icon add ">{{ 'New contact'|t('dingtalk') }}</div>
        <div class="menu">
            <ul>
            {% for corporation in craft.dingtalk.corporations.allCorporations %}
                <li><a href="{{ url('dingtalk/contacts/new', {corporationId: corporation.id}) }}" class="formsubmit">{{ corporation.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}