{% import "_includes/forms" as forms %}

<form id="sync-contacts" class="utility" method="post" accept-charset="UTF-8">
    <input type="hidden" name="action" value="dingtalk/utilities/sync-contacts-action">
    {{ csrfInput() }}

    {{ forms.checkboxSelect({
        name: 'all',
        options: [],
        showAllOption: true,
        values: '*',
    }) }}

    {{ forms.lightswitchField({
        label: 'With leaved users'|t('dingtalk'),
        name: 'withLeavedUsers',
        on: true,
        toggle: 'dimission',
    }) }}

    <hr>

    <div class="buttons">
        <input type="submit" class="btn submit" value="{{ 'Sync Contacts'|t('dingtalk') }}" />
        <div class="utility-status"></div>
    </div>
</form>
